.sectionLaptops{
    margin: 100px 0 0 0;
}

.sectionTitle h2{
    font-size: 24px;
    color: #333;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item{
    width: 250px;
    border-radius: 10px;
    margin: 25px 0 0 0;
}

.item img{
    width: 100%;
    border-radius: 10px;
    transition: .4s;
}

.item p{
    text-align: center;
    margin: 5px 0 0 0;
    color: #333;
}

@media(min-width: 320px) and (max-width: 550px){
    .content{
        grid-template-columns: 1fr 1fr;
    }
        
    .item{
        width: 45vw;
    }
}

@media(min-width: 550px) and (max-width: 1220px){
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
        
    .item{
        width: 30vw;
    }
}